Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:

(a) A volume total de abacates vendidos para cada tipo.

(b) O preço médio dos abacates vendidos para cada tipo.

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r'db\avocado_with_type.csv', index_col=False)
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,year,region,type
0,0,2015-12-27,1.33,64236.62,2015,Albany,conventional
1,1,2015-12-20,1.35,54876.98,2015,Albany,conventional
2,2,2015-12-13,0.93,118220.22,2015,Albany,conventional
3,3,2015-12-06,1.08,78992.15,2015,Albany,conventional
4,4,2015-11-29,1.28,51039.60,2015,Albany,conventional

In [29]:
# A volume total de abacates vendidos para cada tipo.
df.groupby('type')['Total Volume'].sum()

type
conventional    1.508722e+10
organic         4.361817e+08
Name: Total Volume, dtype: float64

In [38]:
# Preço médio dos abacates vendidos para cada tipo.
df['Revenue'] = df['AveragePrice'] * df['Total Volume']

df.groupby('type')['Revenue'].sum() / df.groupby('type')['Total Volume'].sum()

type
conventional    1.077304
organic         1.560379
dtype: float64

In [ ]:
# Preço médio dos abacates vendidos para cada tipo.
df['Revenue'] = df['AveragePrice'] * df['Total Volume']

df.groupby('type')['Revenue'].sum() / df.groupby('type')['Total Volume'].sum()

type
conventional    1.077304
organic         1.560379
dtype: float64