### Exercício

O dataset contido em state.csv contém a população e a taxa de homicídios (em unidades de homicídios por 100.000 pessoas em um ano) para cada estado. Agora que já aprendemos sobre a média, a mediana e a moda. Vamos verificar essas medidas neste dataset.

In [ ]:
import pandas as pd
from scipy import stats

In [10]:
import os
path = os.getcwd()

In [17]:
#Leitura do arquivo
df = pd.read_csv(path + r'\state.csv')
df.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [36]:
#Media
df.mean(numeric_only=True)

Population     6162876.300
Murder.Rate          4.066
dtype: float64

In [37]:
#Mediana
df.median(numeric_only=True)

Population     4436369.5
Murder.Rate          4.0
dtype: float64

In [41]:
#Moda
df['Murder.Rate'].mode()

0    1.6
1    2.0
2    5.7
Name: Murder.Rate, dtype: float64

In [18]:
#Filtrando as linhas que possuem o valor 1.6 na coluna Murder.Rate
df[df['Murder.Rate'] == 1.6]

        State  Population  Murder.Rate Abbreviation
18      Maine     1328361          1.6           ME
22  Minnesota     5303925          1.6           MN
44    Vermont      625741          1.6           VT

In [43]:
#Calculo da moda utilizando o value_counts
df['Murder.Rate'].value_counts(ascending=False).head(5)

5.7    3
2.0    3
1.6    3
4.8    2
5.6    2
Name: Murder.Rate, dtype: int64