# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

- Nomes:
    - Gabriel
    - Rafael Ribeiro de Lima
    - William James Erthal
    
- Turma: 
    - #970 LM Tech Data Talents

- Módulo 3
    - [DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [67]:
## Carregando os arquivos

import pandas as pd
import datetime as dt
import os

path = os.getcwd() + r'/db'
path_cadastros = path + r'/cadastros/'
path_investimentos = path + r'/investimentos/'

arquivos_cadastros = [f for f in os.listdir(path_cadastros) if f.endswith('.csv')]
arquivos_investimentos = [f for f in os.listdir(path_investimentos) if f.endswith('.csv')]

cadastro = []
for cad in arquivos_cadastros:
    temp_df = pd.read_csv(path_cadastros + cad)
    temp_df.info()
    cadastro.append(temp_df)
    print()

investimento = []
for invest in arquivos_investimentos:
    temp_df = pd.read_csv(path_investimentos + invest)
    temp_df.info()
    investimento.append(temp_df)
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20000 non-null  object
 1   Salario  20000 non-null  object
 2   Perfil   20000 non-null  object
 3   Ativo01  15012 non-null  float64
 4   Ativo02  16857 non-null  float64
 5   Ativo03  16760 non-null  float64
 6   Ativo04  13799 non-null  float64
 7   Ativo05  16829 non-null  float64
 8   Ativo06  9895 non-null   float64
 9   Ativo07  20000 non-null  float64
 10  Nota1    18469 non-null  float64
 11  Nota2    18954 non-null  float64
dtypes: float64(9), object(3)
memory usage: 1.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24052 entries, 0 to 24051
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       24052 non-null  object
 1   Salario  24052 non-null  object
 2   Perfil   24052 non-null  object
 3   Ativo01  17994 non-null  float64
 4   Ativo02  20245 non-null  float64
 5   Ativo03  20249 non-null  float64
 6   Ativo04  16685 non-null  float64
 7   Ativo05  20211 non-null  float64
 8   Ativo06  11932 non-null  float64
 9   Ativo07  24052 non-null  float64
 10  Nota1    22172 non-null  float64
 11  Nota2    22810 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.2+ MB

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [68]:
dfc = pd.concat(cadastro)
dfi = pd.concat(investimento)
print(f'O dataframe de "Cadastros" possui {dfc.shape[0]} linhas')
print(f'O dataframe de "Investimentos" possui {dfi.shape[0]} linhas')

O dataframe de "Cadastros" possui 38754 linhas
O dataframe de "Investimentos" possui 44052 linhas

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [69]:
dfi = dfi.drop_duplicates()
f'O dataframe de "Investimentos" agora possui {dfi.shape[0]} linhas'

'O dataframe de "Investimentos" agora possui 38754 linhas'

In [70]:
dfc = dfc.drop_duplicates()
f'O dataframe de "Cadastros" agora possui {dfc.shape[0]} linhas'

'O dataframe de "Cadastros" agora possui 38754 linhas'

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [71]:
df = pd.merge(dfc, dfi, on='id', how='inner')

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [73]:
df = df.sort_values(by=['id'], ascending=True)
df = df.set_index('id')
df

,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
id,,,,,,,,,,,,,,,,,,,
id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?