# Projeto Técnicas de programação I

## Análise exploratória de dados/Pandas

- Nomes:
    - Gabriel Mourão
    - Rafael Ribeiro de Lima
    - William James Erthal
    
- Turma: 
    - #970 LM Tech Data Talents

- Módulo 3
    - [DS-PY-004] TÉCNICAS DE PROGRAMAÇÃO I (PY)

Nesse projeto trabalharemos com dados fictícios de investidores.

São 3 arquivos que devem ser carregados para responder as perguntas abaixo.

Para a entrega, coloque o notebook respondido no seu github (um por grupo)!

Informações

Cadastro:
- **id** : Identificação do investidor
- **Nome** : Nome completo do investidor 
- **Sexo** : Feminino ou masculino
- **Nasc** : Data de nascimento
- **Idade** : Idade do investidor 
- **Email** : E-mail do investidor
- **Lat_long** : Dados geográficos do investidor
- **Job** : Profisão do investidor ou do seu responsável (em inglês)
- **Estado** : Estado onde o investidor reside

Investimento:
- **id** : Identificação do investidor
- **Salario** : Renda do investidor ou seu responsável
- **Perfil** : Perfil de investimento
- **Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07** : O quanto de dinheiro o investidor colocou em cada ativo
- **Nota1, Nota2** : O quanto o investidor está satisfeito com nossa empresa (2 avaliações)

Lembrando que esses dados são irreais e fictícios

Arquivo cadastro.csv


Arquivo investimento.csv (dividido em 2 partes)

### Critérios de avaliação

Os seguintes itens serão avaliados:

1. Reprodutibilidade do código: seu código será executado e precisa gerar os mesmos resultados apresentados por você;

2. Clareza: seu código precisa ser claro e deve existir uma linha de raciocínio direta. Comente o código em pontos que julgar necessário para o entendimento total;

3. Explicação de todos os processos feitos e decisões tomadas

## Informações Gerais sobre o Projeto

- O projeto poderá ser desenvolvido __individualmente__ ou em __grupos com até 4 pessoas__, caos façam em grupos enviar a relação de alunos do grupo para o professor;


- Data de Entrega: 14/04/2023;

- Entrega: Através do _Class_

## 1 - Carregar os arquivos e cadastro, investimento1 e investimento2 e mostrar a quantidade de linhas de cada um, além das informações desses dataframes

In [97]:
## Carregando os arquivos

import pandas as pd
import datetime as dt
import os

path = os.getcwd() + r'/db'
path_cadastros = path + r'/cadastros/'
path_investimentos = path + r'/investimentos/'

arquivos_cadastros = [f for f in os.listdir(path_cadastros) if f.endswith('.csv')]
arquivos_investimentos = [f for f in os.listdir(path_investimentos) if f.endswith('.csv')]

cadastro = []
for cad in arquivos_cadastros:
    temp_df = pd.read_csv(path_cadastros + cad)
    temp_df.info()
    cadastro.append(temp_df)
    print()

investimento = []
for invest in arquivos_investimentos:
    temp_df = pd.read_csv(path_investimentos + invest)
    temp_df.info()
    investimento.append(temp_df)
    print()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38754 entries, 0 to 38753
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        38754 non-null  object
 1   Nome      38754 non-null  object
 2   Sexo      38754 non-null  object
 3   Nasc      38754 non-null  object
 4   Idade     38754 non-null  int64
 5   Email     38754 non-null  object
 6   Lat_long  38754 non-null  object
 7   Job       38754 non-null  object
 8   Estado    38754 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       20000 non-null  object
 1   Salario  20000 non-null  object
 2   Perfil   20000 non-null  object
 3   Ativo01  15012 non-null  float64
 4   Ativo02  16857 non-null  float64
 5   Ativo03  16760 non-null  float64
 6   Ativo04  13799 non-null  float64
 7   Ativo05  16829 non-null  float64
 8   Ativo06  9895 non-null   float64
 9   Ativo07  20000 non-null  float64
 10  Nota1    18469 non-null  float64
 11  Nota2    18954 non-null  float64
dtypes: float64(9), object(3)
memory usage: 1.8+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24052 entries, 0 to 24051
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       24052 non-null  object
 1   Salario  24052 non-null  object
 2   Perfil   24052 non-null  object
 3   Ativo01  17994 non-null  float64
 4   Ativo02  20245 non-null  float64
 5   Ativo03  20249 non-null  float64
 6   Ativo04  16685 non-null  float64
 7   Ativo05  20211 non-null  float64
 8   Ativo06  11932 non-null  float64
 9   Ativo07  24052 non-null  float64
 10  Nota1    22172 non-null  float64
 11  Nota2    22810 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.2+ MB

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [98]:
dfc = pd.concat(cadastro)
dfi = pd.concat(investimento)
print(f'O dataframe de "Cadastros" possui {dfc.shape[0]} linhas')
print(f'O dataframe de "Investimentos" possui {dfi.shape[0]} linhas')

O dataframe de "Cadastros" possui 38754 linhas
O dataframe de "Investimentos" possui 44052 linhas

## 3 - Crie um novo dataframe eliminando as linhas duplicadas

In [99]:
dfi = dfi.drop_duplicates()
f'O dataframe de "Investimentos" agora possui {dfi.shape[0]} linhas'

'O dataframe de "Investimentos" agora possui 38754 linhas'

In [100]:
dfc = dfc.drop_duplicates()
f'O dataframe de "Cadastros" agora possui {dfc.shape[0]} linhas'

'O dataframe de "Cadastros" agora possui 38754 linhas'

## 4 - Junte o dataframe de investimento com o de cadastro
Dica: use a chave id

In [101]:
df = pd.merge(dfc, dfi, on='id', how='inner')
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [102]:
df = df.sort_values(by=['id'], ascending=True)
df = df.reset_index(drop=True)
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

## 6 - Faça uma análise dos dados faltantes e trate-os

Mostre todas as colunas com dados faltantes, sua quantidade/porcentagem e como tratar (preencher) cada uma delas explicando sua estratégia

In [103]:
qtd_faltantes = df.isna().sum()
registros = df.shape[0]

df_faltantes =  pd.DataFrame({'Dados faltantes': qtd_faltantes, 'Dados faltantes (%)': qtd_faltantes / registros * 100})
df_faltantes

          Dados faltantes  Dados faltantes (%)
id                      0             0.000000
Nome                    0             0.000000
Sexo                    0             0.000000
Nasc                    0             0.000000
Idade                   0             0.000000
Email                   0             0.000000
Lat_long                0             0.000000
Job                     0             0.000000
Estado                  0             0.000000
Salario                 0             0.000000
Perfil                  0             0.000000
Ativo01              9724            25.091603
Ativo02              6100            15.740311
Ativo03              6169            15.918357
Ativo04             11887            30.672963
Ativo05              6191            15.975125
Ativo06             19514            50.353512
Ativo07                 0             0.000000
Nota1                3000             7.741136
Nota2                2000             5.160758

In [104]:
values = {"Ativo01": 0, "Ativo02": 0,"Ativo03": 0,"Ativo04": 0,"Ativo05": 0,"Ativo06": 0,"Ativo07": 0}
df = df.fillna(value=values)
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292

In [105]:
qtd_faltantes = df.isna().sum()
registros = df.shape[0]

df_faltantes =  pd.DataFrame({'Dados faltantes': qtd_faltantes, 'Dados faltantes (%)': qtd_faltantes / registros * 100})
df_faltantes

          Dados faltantes  Dados faltantes (%)
id                      0             0.000000
Nome                    0             0.000000
Sexo                    0             0.000000
Nasc                    0             0.000000
Idade                   0             0.000000
Email                   0             0.000000
Lat_long                0             0.000000
Job                     0             0.000000
Estado                  0             0.000000
Salario                 0             0.000000
Perfil                  0             0.000000
Ativo01                 0             0.000000
Ativo02                 0             0.000000
Ativo03                 0             0.000000
Ativo04                 0             0.000000
Ativo05                 0             0.000000
Ativo06                 0             0.000000
Ativo07                 0             0.000000
Nota1                3000             7.741136
Nota2                2000             5.160758

## 7 - Manipule os dados a seguir:
- Criar coluna "Total" somando o valor de todos os ativos por investidor
- Criar coluna "Media" com a média das notas 1 e 2
- Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)
- Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)
- Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar o map)
- Transformar os dados da coluna Media em inteiro
- Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [106]:
df['Total investido'] = df.filter(like='Ativo').sum(axis=1)
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,...,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,...,1174.27,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,...,842.12,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,...,818.81,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,...,0.00,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,...,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21

In [107]:
df['Média'] = df.filter(like='Nota').mean(axis=1)
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,...,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido,Média
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,...,4980.98,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,...,5646.09,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,...,5516.52,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,...,5258.69,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,...,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800

In [108]:
emails = df.iloc[:, 5]
emails_conta_dominio = emails.str.split('@')
df['Domínio'] = emails_conta_dominio.apply(lambda email: email[1])
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,...,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido,Média,Domínio
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,...,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,...,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,...,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,...,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,...,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800,yahoo.com

In [109]:
df['Salario'] = df['Salario'].replace({'\$': ''}, regex=True)
df['Salario'] = df['Salario'].astype(float)
df['Salario']

0           63.67
1           21.96
2        62497.64
3        99878.74
4          188.01
           ...
38749     4993.49
38750    41218.63
38751       32.41
38752      914.52
38753    29076.19
Name: Salario, Length: 38754, dtype: float64

In [110]:
df = df.rename(columns={'Salario': 'Renda'})
df.head()

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido,Média,Domínio
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,...,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.701496,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,...,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.459882,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,...,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.540483,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,...,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.073421,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,...,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.014800,yahoo.com

In [111]:
df['Sexo'] = df['Sexo'].map({'Masc': 'Masculino', 'Fem' : 'Feminino'})
df['Sexo'].value_counts()

Feminino     19385
Masculino    19369
Name: Sexo, dtype: int64

In [112]:
#df['Média'] = df['Média'].astype('Int64')
df['Média'] = df['Média'][df['Média'].notnull()].astype(int)
df

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido,Média,Domínio
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,...,2638.24,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.0,yahoo.com
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,...,3336.07,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.0,yahoo.com
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,...,3396.64,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.0,yahoo.com
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,...,3723.10,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.0,hotmail.com
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,...,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.0,yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,...,0.00,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.0,gmail.com
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,...,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.0,hotmail.com
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,...,3746.62,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.0,yahoo.com
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,...,2861.32,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.0,gmail.com
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,...,0.00,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.0,hotmail.com

Criar coluna "NPS" onde o investidor é promotor se a média das notas é maior igual a 80, neutro se a média estiver entre 50 e 80, e detrator se for abaixo de 50

In [113]:
def define_nps(media):
  if media >= 80:
    return 'Promotor'
  elif media >= 50:
    return 'Neutro'
  else:
    return 'Detrator'

df['NPS'] = df['Média'].apply(define_nps)
df

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido,Média,Domínio,NPS
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,...,0.00,4480.91,2329.72,480.72,79.600372,9.802620,16084.84,44.0,yahoo.com,Detrator
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,...,0.00,5624.22,2669.98,504.17,44.406893,90.512871,18622.65,67.0,yahoo.com,Neutro
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,...,0.00,5033.83,2229.45,523.12,44.020024,65.060941,17518.37,54.0,yahoo.com,Neutro
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,...,0.00,5933.91,0.00,486.05,25.597924,86.548918,15401.75,56.0,hotmail.com,Neutro
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,...,30841.35,6044.86,2198.89,512.98,14.463307,33.566292,50981.21,24.0,yahoo.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,...,8454.99,0.00,2191.78,489.76,66.644257,6.462871,17699.09,36.0,gmail.com,Detrator
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,...,11243.08,4692.11,2368.93,496.02,96.987294,72.333030,28532.99,84.0,hotmail.com,Promotor
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,...,0.00,6733.79,2338.43,504.32,32.139610,22.742974,19398.69,27.0,yahoo.com,Detrator
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,...,0.00,4921.77,2024.00,500.65,98.385080,56.611838,15840.09,77.0,gmail.com,Neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,...,18085.88,5161.07,2257.66,507.95,29.660050,47.371606,31819.28,38.0,hotmail.com,Detrator

## 8 - Calcule os seguintes dados
- Calcule o total investido em cada coluna Ativo (tente usar o apply)
- Qual o menor valor investido em cada ativo?
- Mostre a média e desvio padrão de cada ativo
- Qual a idade do investidor mais velho?
- Qual a mediana da coluna Média?

- Calcule o total investido em cada coluna Ativo (tente usar o apply)

In [115]:
ativos = ['Ativo01', 'Ativo02', 'Ativo03', 'Ativo04', 'Ativo05', 'Ativo06', 'Ativo07']
total_investido = df[ativos].apply(lambda coluna: coluna.sum())

df_total_investido = pd.DataFrame({'Total investido': total_investido})

df_total_investido

         Total investido
Ativo01     3.275569e+07
Ativo02     1.680798e+08
Ativo03     1.023306e+08
Ativo04     4.071340e+08
Ativo05     1.720668e+08
Ativo06     4.462684e+07
Ativo07     1.937903e+07

- Qual o menor valor investido em cada ativo?

In [119]:
min_investido = df[ativos].min()
min_investido

Ativo01      0.00
Ativo02      0.00
Ativo03      0.00
Ativo04      0.00
Ativo05      0.00
Ativo06      0.00
Ativo07    462.93
dtype: float64

- Mostre a média e desvio padrão de cada ativo

In [121]:
media_investido = df[ativos].mean()
media_investido

Ativo01      845.220878
Ativo02     4337.095701
Ativo03     2640.515840
Ativo04    10505.598580
Ativo05     4439.975773
Ativo06     1151.541631
Ativo07      500.052452
dtype: float64

In [122]:
std_investido = df[ativos].std()
std_investido

Ativo01     524.568525
Ativo02    1909.955896
Ativo03    1204.864694
Ativo04    9084.714705
Ativo05    2068.665605
Ativo06    1172.059182
Ativo07       9.998218
dtype: float64

- Qual a idade do investidor mais velho?

In [126]:
idade_max = df['Idade'].max()
indice_idade_max = df['Idade'].argmax()
nome_idade_max = df['Nome'].iloc[indice_idade_max]

f'A pessoa investidora mais velha se chama {nome_idade_max}, com uma idade de {idade_max} anos'

'A pessoa investidora mais velha se chama Eunice Hellen do Vale, com uma idade de 51 anos'

- Qual a mediana da coluna Média?

In [127]:
df['Média'].median()

49.0

## 9 - Responder as perguntas abaixo

- Quantos investidores são promotores?
- Quantos investidores são do sexo feminino?
- Quantos investidores investiram mais de 16000 no Ativo04?
- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?
- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

- Quantos investidores tem em cada estado (dica: use groupby)
- Qual é a soma do total investido por cada estado?
- Como os investidores se distribuem em promotores, detratores e neutros?
- Qual é a média do total investido por promotores, detratores e neutros?

- Quantos investidores são promotores?

In [53]:
nps = df['NPS'].value_counts()
qtd_nps = nps.sum()

df_nps = pd.DataFrame({'Total': nps, '%': nps/qtd_nps*100})
promotores = df_nps['Total']['Promotor']
percentual_promotores = df_nps['%']['Promotor']

f'{promotores} investidores são Promotores, o que corresponde a {percentual_promotores:.2f}% do total'

'3668 investidores são Promotores, o que corresponde a 9.46% do total'

- Quantos investidores são do sexo feminino?

In [64]:
sexo = df['Sexo'].value_counts()
qtd_sexo = sexo.sum()

df_sexo = pd.DataFrame({'Total': sexo, '%': sexo/qtd_sexo*100})
feminino = df_sexo.Total['Feminino']
percentual_feminino = df_sexo['%']['Feminino']

f'{feminino} investidoras são do sexo Feminino, o que corresponde a {percentual_feminino:.2f}% do total'

Feminino     19385
Masculino    19369
Name: Sexo, dtype: int64

- Quantos investidores investiram mais de 16000 no Ativo04?

In [59]:
investidores_16000_ativo04 = df[df['Ativo04'] > 16000].shape[0]
f'{investidores_16000_ativo04} investidores possuem mais de 16000 investidos no Ativo04'

'10689 investidores possuem mais de 16000 investidos no Ativo04'

- Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?

In [22]:
df[(df['Ativo04'] > 16000) & (df['Ativo05'] < 5000)].shape[0]

5374

- Quantos investidores do sexo feminino tem mais de 25 anos e investiu menos de 10000? (bonus: por que esse dado seria importante para a estratégia da nossa empresa?

In [23]:
df[(df['Sexo'] == 'Feminino') & (df['Idade'] > 25) & (df['Total investido'] < 10000)]

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total investido,Média,Domínio,NPS
251,id0000252,Lara Adrielle de Lacerda,Feminino,1971-02-28,50,urice@yahoo.com,"(Decimal('79.683002'), Decimal('96.630918'))",Early years teacher,RN,73091.30,...,0.0,0.00,0.00,502.21,29.139065,55.511991,9118.08,42.0,yahoo.com,Detrator
439,id0000440,Ediane Preto,Feminino,1991-11-02,30,waterskendra@yahoo.com,"(Decimal('-66.4694655'), Decimal('-145.233678'))","Administrator, charities/voluntary organisations",RR,364.06,...,0.0,5562.27,2425.96,494.25,47.304547,49.119204,9866.23,48.0,yahoo.com,Detrator
468,id0000469,Fernanda Ribeiro,Feminino,1973-04-07,48,robinsonnicole@yahoo.com,"(Decimal('-70.1687715'), Decimal('-45.359881'))",Occupational psychologist,SC,668.54,...,0.0,4062.51,0.00,506.63,66.312403,98.928013,9133.75,82.0,yahoo.com,Promotor
561,id0000562,Samila Kátia da Silva Omaman,Feminino,1987-05-24,34,yortiz@gmail.com,"(Decimal('-18.6370725'), Decimal('-54.972713'))",Animal nutritionist,PB,0.21,...,0.0,0.00,0.00,502.31,20.016109,53.418491,9258.65,36.0,gmail.com,Detrator
595,id0000596,Neila de Diniz Meimniov Trevisan,Feminino,1977-01-06,44,kathryn73@hotmail.com,"(Decimal('17.146431'), Decimal('75.109201'))",Lobbyist,RR,56.14,...,0.0,4941.76,0.00,486.44,NaN,27.056029,9726.20,27.0,hotmail.com,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38358,id0038359,Sâmia Célia Razucrias Souto,Feminino,1973-08-17,48,yatesjon@yahoo.com,"(Decimal('-8.7342045'), Decimal('11.828290'))",Information systems manager,AL,86626.95,...,0.0,0.00,0.00,512.30,69.089325,9.319279,8034.47,39.0,yahoo.com,Detrator
38383,id0038384,Solange Rugin,Feminino,1991-02-08,30,ugarcia@hotmail.com,"(Decimal('20.8531325'), Decimal('-34.315147'))",Health visitor,RO,2615.57,...,0.0,4324.30,0.00,494.58,6.280901,13.826658,9690.66,10.0,hotmail.com,Detrator
38475,id0038476,Lidiane Castelo,Feminino,1991-08-10,30,natasha35@hotmail.com,"(Decimal('-13.801224'), Decimal('140.798066'))",Animal technologist,PR,50999.51,...,0.0,0.00,0.00,495.89,39.133869,85.697660,8516.22,62.0,hotmail.com,Neutro
38667,id0038668,Cristina Grusty,Feminino,1990-11-26,31,valeriegonzalez@yahoo.com,"(Decimal('45.738813'), Decimal('98.988448'))","Psychotherapist, child",AL,77.32,...,0.0,0.00,0.00,499.43,17.466261,38.307003,6416.75,27.0,yahoo.com,Detrator
38719,id0038720,Beatriz Hesawa de Bezerra,Feminino,1986-09-17,35,bsaunders@gmail.com,"(Decimal('-17.3111315'), Decimal('-148.280401'))",Museum/gallery exhibitions officer,RJ,292.35,...,0.0,0.00,2009.35,481.71,34.329015,7.923016,6199.76,21.0,gmail.com,Detrator


- Quantos investidores tem em cada estado (dica: use groupby)

In [37]:
#df['Estado'].value_counts()
df.groupby('Estado')['Estado'].count()

Estado
AC    1435
AL    1376
AM    1495
AP    1438
BA    1484
CE    1465
DF    1470
ES    1472
GO    1394
MA    1454
MG    1407
MS    1436
MT    1390
PA    1421
PB    1405
PE    1477
PI    1503
PR    1371
RJ    1466
RN    1472
RO    1440
RR    1495
RS    1393
SC    1430
SE    1319
SP    1464
TO    1382
Name: Estado, dtype: int64

- Qual é a soma do total investido por cada estado?

In [24]:
df.groupby('Estado')['Total investido'].sum()

Estado
AC    35362505.80
AL    33763479.45
AM    37036424.81
AP    34996432.12
BA    36188507.51
CE    35959807.36
DF    36277409.37
ES    36112618.12
GO    34234860.26
MA    34952752.65
MG    33820223.17
MS    35279491.41
MT    34206427.27
PA    34877463.97
PB    34248820.05
PE    35353945.12
PI    37038930.90
PR    33002424.19
RJ    35910946.83
RN    35755623.32
RO    34341430.55
RR    36543504.21
RS    34300026.29
SC    35223280.67
SE    32496697.65
SP    35624582.45
TO    33464097.56
Name: Total investido, dtype: float64

- Como os investidores se distribuem em promotores, detratores e neutros?

In [65]:
df_nps

          Total          %
Detrator  19614  50.611550
Neutro    15472  39.923621
Promotor   3668   9.464829

- Qual é a média do total investido por promotores, detratores e neutros?

In [72]:
df.groupby('NPS')['Total investido'].mean().round(2)

NPS
Detrator    24389.71
Neutro      24496.09
Promotor    24261.05
Name: Total investido, dtype: float64